<%- include('partials/header') %>
<h2>Modification d'un livre</h2>
<form action="/book/edit" class="form-group" method="POST">
    <input type="hidden" value="<%=book_id%>" name="id">
    <label for="title">Titre</label>
    <input type="text" class="form-control" name="title" id="title" maxlength="255" value="<%=book.title%>">
    <label for="author">Auteur</label>
    <input type="text" class="form-control" name="author" id="author" maxlength="255" value="<%=book.author%>">
    <label for="isbn">ISBN</label>
    <input type="text" pattern="\d*" maxlength="13" class="form-control" name="isbn" id="isbn" value="<%=book.ISBN%>">
    <label for="nb_pages">Nombre de pages</label>
    <input type="text" pattern="\d*" maxlength="5" class="form-control" name="nb_pages" id="nb_pages"
        value="<%=book.nb_pages%>">
    <button type="submit" class="btn btn-primary">Modifier</button>
</form>

<%- include('partials/footer') %>