<!-- views/partials/footer.ejs -->
<!--<p class="text-center text-muted">© Copyright 2019 La croisée des deux nodes</p>
-->
<div class="foot">
	<a href="/">
		<span style="font-size: 4em; color:black;">
			<i class="fas fa-home"></i>
		</span>
	</a>
	<a href="/">
		<span style="font-size: 4em; color:black;">
			<i class="fas fa-user"></i>
		</span>
	</a>
	<a href="/">
		<span style="font-size: 4em; color: black;">
			<i class="fas fa-cog"></i>

		</span>
	</a>
	<a href="/defiliste">
		<span style="font-size: 4em; color: black;">
			<i class="far fa-list-alt"></i>
		</span>
	</a>
</div>




<!--<script>
		if ('serviceWorker' in navigator) {
			navigator.serviceWorker.register('/sw.js')
				.then(function () {
					//console.log('Service Worker Registered');
				});
		}
	</script>-->

<script src="https://kit.fontawesome.com/dd1922c75b.js"></script>
</body>

</html>