<!-- views/partials/head.ejs -->
<!DOCTYPE html>
<html lang="fr">
<meta charset="UTF-8">
<title>Youplaboum</title>

<!--// CSS (load bootstrap from a CDN)
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
<link href="assets/styles.css" rel="stylesheet" type="text/css" />