<!-- views/pages/index.ejs -->



<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>

</header>

<main>
    <br>
    <br>
    <div class="titre">
        <h1 style=><i class="fas fa-leaf"></i>Connecte toi<i class="fas fa-leaf"></i> </h1></div>
        <br>
        <br>
       <!-- <img src = "../partials/public/ecolo.jpg" />-->
        <!--voir si on peut mettre une image en html ou css<div class="ess"></div>-->
        <img src="/assets/img/ecolo.jpg" alt="Logo" sizes="" ></img>
    </div>
        <br>
        <br>

        <!--<div class="connexion">
		
                <form method="post" action="traitement.php">
            <p>
                <input type="text" name="mail" placeholder="votre email"  />
            <br>
            <br>
               <input type="password" name="pass" placeholder="mot de passe" value="" />
               <br>
               <br>
               <input type="submit" value="Me connecter" name="">
               <br>
               <br>
               <a href=".html" color="red">mot de passe oublié</a>
            </p>
        </form>-->
                
            </div>
            <br>
            <br>
<div class="titre">
    <div class="aligner">
        <h1><i class="fas fa-leaf"></i>Plus de défis, c'est plus de vie!<i class="fas fa-leaf"></i></h1>
        
    </div>
</div>
    </main>

<footer>
    <% include ../partials/footer %>
</footer>
