<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>

    </header>

    <main>

        <h2>Créer son compte</h2>
        <form action="/user/add" class="form-group" method="POST">
            <label for="pseudo">Pseudo</label>
            <p>
                <input type="text" pattern="[a-zA-Z0-9_-]{3,16}" class="form-control" name="pseudo" id="pseudo"
                    placeholder="Saisissez votre pseudo"
                    title="Le pseudo doit contenir entre 3 et 16 lettres ou chiffres" maxlength="255">
            </p>


            <label for="email">Adresse mail</label>
            <p>
                <input type="text" class="form-control" name="email" id="email"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="adressemail@hotmail.com"
                    maxlength="255" title="Veuillez saisir une adresse mail valide">
            </p>
            <label for="password">Mot de passe</label>
            <p>
                <input type="password" class="form-control" name="password" id="password"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])\w{6,}"
                    title="Votre mot de passe doit contenir au moins 8 caractères dont une majuscule, une minuscule et un chiffre."
                    placeholder="password" maxlength="255">
            </p>

            <button type="submit" class="btn btn-primary">Créer mon compte</button>
            <br>
            <br>

            <a href=".html" color="red">mot de passe oublié</a>
        </form>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>