
    html,{position: relative;
        min-height: 100%;

    }
    body   
    { margin: 0;
        margin-bottom: 0;
    
    background-color: burlywood;
    text-align: center;
    margin-bottom: 4em;
   
}
h1{color: 	#008000;
}
.nav{display: flex;
flex-direction: row;
justify-content: space-around;
bottom: 0em; 
left: 0em; 
right: 0em;
top:0em ;
background-color:  	#008000;
width: 100%;}

input{width: 17em;
height: 2em;
border-radius: 20px;}

.ess{background-image: url(..pages/img/ecolo);
width: 5em;}

.titre{
    color:#008000; ;
width:20em;
padding-bottom: 1em;
padding-top: 1em;
margin: auto;
height: auto;
background-color: white;
border-radius: 20px;}



.connexion{border-radius: 0px;
    width: 25em;
            height: 11em;
        border: 1rem solid 	#008000;
        border-radius: 50px;
        text-align: center;
        margin: 0 auto;
        background-color:#008000 ;
        
}
.aligner{display: flex;
flex-direction: row;
justify-content: space-around;}

.defi{ border-radius: 20px;
 width: 45em;
 height: auto;
 margin: 0 auto;
 background-color:white ;
 text-align: center;
 padding-top: 1em;
 padding-bottom: 1em;}

.foot{background-color: #008000;
display: flex;
height: 4em;
flex-direction: row;
justify-content: space-around;
position: absolute; 
bottom: 0px; 
width: 100%;
left: 0px; 
right: 0px;
padding-top: 1em;
padding-bottom: 1em;
margin-bottom: 0px;

}

.imagedefi{
    width: 20em;
    height: 20em;
    border-radius: 80em;
    background-color: 	#008000;
    margin: auto;
    padding: 1em;
}

.tidefi{width: 30em;
height: auto;
background-color: white;
border-radius: 50em;
margin: auto;

}
.description{
    width: 45em;
    border-radius: 5em;;
height: auto;
background-color: white;
margin: auto;
padding:2em ;}

/* Style des champs et cie formulaires...*/
input{background-color: grey;}


